<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialSphere Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h2>SocialSphere</h2>
            <h3>Login</h3>
        </div>
        <form class="login-form" id="loginForm">
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="login-buttons">
                <button type="button" id="unsecureLogin" class="login-button">Unsecure Log In</button>
                <button type="button" id="secureLogin" class="login-button">Log In</button>
            </div>
        </form>
        <div class="forgot-password">
            <a href="#">Forgot Password?</a>
        </div>
    </div>

	<script th:src="@{/js/index.js}"></script>
</body>
</html>
